 /**  . for class # for id
 */
#introduction  {

font-weight: bold;
font-size: 15px;



}

h1 {
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: bold;
}

h3 {
    
    font-size: 15px;
    
}

#ARR {
    color: white
}




#repos {
    
    font-size: 15px;
    
}

h2 {

}

p1  {
    
}

