 /**  . for class # for id
 */
#introduction  {

font-weight: bold;
font-size: 15px;
font-family: 'Oswald';


}

h3 {
    font-family: 'Oswald';
    font-size: 15px;
    
}

#ARR {
    color: white
}




#repos {
    font-family: 'Oswald';
    font-size: 15px;
    
}

h2 {

}

p1  {
    
}